* {margin: 0;padding: 0;vertical-align: middle;box-sizing:border-box}
body {font:normal 16px/1 'Montserrat', 'Roboto';color:#444;background:#fff;}
ul,li {list-style: none;}
.clearfix::after {content:'';display: block;clear: both;}
a {color: #444;text-decoration: none;}
h1,h2,h3,h4,h5,h6 {font-size: 16px;font-weight:normal;}
